@page "/service_request"
@using BlazerSampleApp.Data
<h3>Service Request Form</h3>
@* Customer Information Section *@
<fieldset class="form-group card mb-3 p-3">
    <legend>Contact Information</legend>
    <div class="mb-3">
        <label class="form-label" for="name">Contact Name</label>
        <input class="form-control @(Errorlist.ContainsKey("contact_name")?"is-invalid":"")" type="text" id="name" @bind="ContactName" required />
        @if (Errorlist.ContainsKey("contact_name"))
        {
            <div class="alert alert-danger mt-3">@Errorlist["contact_name"]</div>
        }

    </div>
    <div class="mb-3">
        <label class="form-label" for="phone">Phone Number</label>
        <input class="form-control" type="text" id="phone" placeholder="123-456-7890" @bind="PhoneNumber" required />
    </div>
    <div class="mb-3">
        <label class="form-label" for="years">Number of Years as Customer</label>
        <input class="form-control" type="number" id="years" min="0" step="1" @bind="YearsAsCustomer" required />
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="current_customer" @bind="IsCurrentCustomer" required />
        <label class="form-check-label" for="current_customer">Current Customer</label>
    </div>
</fieldset>
@* Service Section *@
<fieldset class="form-group card mb-3 p-3">
    <legend>Service Information</legend>
    <div class="mb-3">
        <input class="form-check-input" type="radio" id="internet" name="service_type" required
        @onclick="@(()=>ServiceType="INTERNET")"
               checked="@(ServiceType=="INTERNET")" />
        <label class="form-check-label" for="internet">Internet Only</label>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="radio" id="tv" name="service_type" required
        @onclick="@(()=>ServiceType="TV")"
               checked="@(ServiceType=="TV")" />
        <label class="form-check-label" for="tv">TV Only</label>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="radio" id="internet_tv" name="service_type" required
        @onclick="@(()=>ServiceType="INTERNET_TV")"
               checked="@(ServiceType=="INTERNET_TV")" />
        <label class="form-check-label" for="internet_tv">Internet and TV</label>
    </div>
</fieldset>
@* Request Section *@
<fieldset class="form-group card mb-3 p-3">
    <legend>Required Service</legend>
    <div class="mb-3">
        <select class="form-label" id="reason" @bind="Reason">
            <option disabled Selected>Choose an Option from the list</option>
            <option>Service Interuption</option>
            <option>New Service </option>
            <option>Other</option>
        </select>
    </div>
    <div mb="3">
        <label class="form-label" for="request_details">Request Details</label>
        <textarea class="form-control" id="request_details" rows="5" @bind="RequestDetails"></textarea>
    </div>
</fieldset>
<div class="mb-3">
    <button class="btn btn-primary" @onclick="DisplayInfo">Submit Request</button>
    <button class="btn btn-primary" @onclick="AddToList">Add To List</button>
    <button class="btn btn-primary" @onclick="DisplayList">Display The List</button>
    <button class="btn btn-primary" @onclick="ClearList">Clear The List</button>
    <button class="btn btn-primary" @onclick="SaveListToFile">Save List To File</button>
    <button class="btn btn-primary" @onclick="ReadFileToList">Read File To List</button>
</div>

@if (Success)
{
    <div alert alert-info>
        <p>Request successfully submitted</p>
        <p>@((MarkupString)Output)</p>
    </div>
}
@if (Errorlist.ContainsKey("empty_list"))
{
    <div class="alert alert-danger mt-3">@Errorlist["empty_list"]</div>
}


@* Display the Request from the list *@
@if (Show)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Years as Customer</th>
                <th>is Current Customer</th>
                <th>Service Type</th>
                <th>Reason</th>
                <th>Service Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ServiceRequest aRequest in ServiceRequests)
            {
                <tr>
                    <td>@aRequest.ContactName</td>
                    <td>@aRequest.PhoneNumber</td>
                    <td>@aRequest.YearsAsCustomer</td>
                    <td>@aRequest.IsCurrentCustomer</td>
                    <td>@aRequest.ServiceType</td>
                    <td>@aRequest.Reason</td>
                    <td>@aRequest.RequestDetails</td>
                </tr>
            }
        </tbody>
    </table>
}





@* display the value in the controls (not radio buttons) below the form when the button is clicked *@
@* Only Display the ouput text if the button has been clicked *@

@code {

}
